.container {
  display: inline-block;
}

.letter {
  display: inline-block;

  opacity: 0;
  transform: translate3d(0, 32px, 0) scale(0.96);
  filter: blur(6px);

  animation-name: riseSmooth;
  animation-duration: 700ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  animation-fill-mode: forwards;

  will-change: transform, opacity, filter;
  animation-delay: var(--delay);
}

@keyframes riseSmooth {
  0% {
    opacity: 0;
    transform: translate3d(0, 32px, 0) scale(0.96);
    filter: blur(2px);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -6px, 0) scale(1.02);
    filter: blur(0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
    filter: blur(0);
  }
}
