/* This file is used to override the default design system styles */

.ams-grid {
  padding-inline: 0px; /* Remove default padding from design system grid */
}

/* Must be inline with .main class */
@media (max-width: 992px) {
  .ams-page-header {
    padding-inline: var(--ams-space-l);
  }
}
