.break-word-anywhere {
  overflow-wrap: anywhere; /* breekt de string waar nodig */
}

.mobile-only-icon {
  display: inline-flex;
}

@media (min-width: 600px) {
  .mobile-only-icon {
    display: none;
  }
}
