.break-word-anywhere {
  overflow-wrap: anywhere; /* Breaks the string where needed */
}

.italic-text {
  font-style: italic;
}

.mobile-only-icon {
  display: inline-flex;
}

@media (min-width: 600px) {
  .mobile-only-icon {
    display: none;
  }
}

.preserve-lines {
  white-space: pre-line; /* Preserves the original whitespace and lines */
}
