.main {
  padding-top: var(--ams-space-m);
}

/* Mobile / tablet */
@media (max-width: 992px) {
  .main {
    padding-inline: var(--ams-space-l);
  }
}

/* Standard for medium screens (992px - 72.5rem) */
@media (min-width: 992px) and (max-width: 72.5rem) {
  .main {
    padding-inline: var(--ams-page-header-padding-inline);
  }
}

/* Extra wide screens */
@media (min-width: 72.5rem) {
  .main {
    padding-inline: var(--ams-page-header-wide-padding-inline);
  }
}

.PageHeader {
  position: relative;
  background-color: var(--ams-color-background);
  z-index: 403;
}

.MainMenuOverlay {
  position: fixed;
  inset: 0;
  z-index: 402;
  background-color: rgba(0, 0, 0, 0.5);
}
