/* Mobile / tablet */
@media (max-width: 992px) {
  .main {
    padding-inline: var(--ams-space-l);
  }
}

/* Standard for medium screens (992px - 72.5rem) */
@media (min-width: 992px) and (max-width: 72.5rem) {
  .main {
    padding-inline: var(--ams-page-header-padding-inline);
  }
}

/* Extra wide screens */
@media (min-width: 72.5rem) {
  .main {
    padding-inline: var(--ams-page-header-wide-padding-inline);
  }
}
