.main {
  padding: var(--ams-page-header-padding-inline);
}

@media screen and (max-width: 992px) {
  .main {
    padding: var(--ams-space-s);
  }
}

@media screen and (min-width: 72.5rem) {
  .main {
    padding-inline: var(--ams-page-header-wide-padding-inline);
  }
}
