.container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.fullPageContainer {
  margin-top: 30vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svgContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cross {
  width: 2rem;
  height: 2rem;
  transform-origin: center;
  animation: rotate 3s ease infinite;
  fill: #ec0000;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  67% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
