.fullPageContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.7); /* optioneel dimmen */
}

.svgContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cross {
  width: 5rem;
  height: 5rem;
  transform-origin: center;
  animation: rotate 3s ease infinite;
  fill: #ec0000;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  67% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
