.card {
  background-color: #fff;
  /* border-radius: 4px; */
  border-bottom: 1px solid var(--ams-color-separator);
  /* box-shadow:
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.12) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.2) 0px 1px 5px 0px; */
  padding: 16px;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.card:hover {
  border-radius: 4px;
  transform: translateY(-2px);
  border: 1px solid var(--ams-color-separator);
  box-shadow:
    rgba(0, 0, 0, 0.14) 0px 8px 10px 1px,
    rgba(0, 0, 0, 0.12) 0px 3px 14px 2px,
    rgba(0, 0, 0, 0.2) 0px 5px 5px -3px;
}
