.dayHeader {
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--ams-color-background);
  padding-block: var(--ams-grid-cell-padding-block);
  padding-inline: var(--ams-grid-cell-padding-inline);
  margin-bottom: 1rem;
}
