.dayHeader {
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--ams-color-background);
  padding-block: var(--ams-grid-cell-padding-block);
  padding-inline: var(--ams-grid-cell-padding-inline);
  margin-bottom: 1rem;
}
