@import "@amsterdam/design-system-assets/font/index.css";
@import "@amsterdam/design-system-css/dist/index.css";
@import "@amsterdam/design-system-tokens/dist/index.css";
@import "@amsterdam/design-system-tokens/dist/compact.css";
@import "./styles/animations.css";
@import "./styles/design-system-overrides.css";
@import "./styles/spacing.css";

/* * {
  outline: 1px solid red;
} */

html,
body {
  margin: 0;
  padding: 0;
}
