.tag {
  --tag-color: #000;
  --tag-bg-strength: 10%;

  display: inline-flex;
  align-items: center;
  font-family: var(--ams-badge-font-family);
  font-weight: 500;
  font-size: var(--ams-paragraph-small-font-size);
  border-radius: 6px;
  padding-inline: 8px;
  gap: 4px;

  border: 1px solid var(--tag-color);
  color: var(--tag-color);
  background-color: color-mix(
    in srgb,
    var(--tag-color) var(--tag-bg-strength),
    white
  );
}
